<h1 mat-dialog-title>Create a new sprint</h1>
<div mat-dialog-content id="dialog">
  <p>Name your sprint</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="sprintName" />
  </mat-form-field>
  <mat-form-field id="startDate">
    <mat-label>Choose a start date</mat-label>
    <input matInput [matDatepicker]="pickerStart" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerStart"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerStart></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a end date</mat-label>
    <input matInput [matDatepicker]="pickerEnd" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerEnd"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions id="dialogActions">
  <button
    mat-flat-button
    style="color: pink; font-size: larger; background-color: rgb(255, 249, 253)"
    (click)="addSprint()"
  >
    <b>Create</b>
  </button>
  <button
    mat-flat-button
    style="background-color: rgb(255, 249, 253)"
    (click)="onNoClick()"
  >
    No Thanks
  </button>
</div>
