<h1 mat-dialog-title>Create a new task</h1>
<div mat-dialog-content id="dialog">
  <p>Name your task</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="taskName" />
  </mat-form-field>

  <p>Write a description</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="description" />
  </mat-form-field>

  <p>Estimate your task</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="storypoint" />
  </mat-form-field>

  <p>Assign user to task</p>
  <div class="addUser">
    <mat-form-field id="inputUser" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        [formControl]="userSearch"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnUser">
        <mat-option
          *ngFor="let option of filteredUsers | async"
          [value]="option"
        >
          {{ option.username }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button id="btnAddUser" mat-fab (click)="addUser()">
      <mat-icon
        svgIcon="square-plus-solid"
        aria-hidden="false"
        aria-label="SVG square-plus-solid"
      ></mat-icon>
    </button>
  </div>

  <div id="usersList">
    <div *ngFor="let user of addedUsers" class="circleIcone">
      {{ user.username.slice(0, 2) }}
    </div>
  </div>

  <p>Select the type of your task</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="type" />
  </mat-form-field>

  <p>Select the priority of your task</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="priority" />
  </mat-form-field>

  <mat-form-field class="inputText">
    <input matInput [formControl]="asA" />
    <mat-label>As a</mat-label>
  </mat-form-field>

  <mat-form-field class="inputText">
    <input matInput [formControl]="iWant" />
    <mat-label>I want</mat-label>
  </mat-form-field>

  <mat-form-field class="inputText">
    <input matInput [formControl]="soThat" />
    <mat-label>So that</mat-label>
  </mat-form-field>

  <div class="addTag">
    <p>Assign tag to task</p>
    <mat-form-field id="inputTask" appearance="fill">
      <mat-label>Tag</mat-label>
      <input
        type="text"
        matInput
        [formControl]="tagSearch"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnTag">
        <mat-option
          *ngFor="let option of filteredTags | async"
          [value]="option"
        >
          {{ option.tagName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button id="btnAddTag" mat-fab (click)="addTag()">
      <mat-icon
        svgIcon="square-plus-solid"
        aria-hidden="false"
        aria-label="SVG square-plus-solid"
      ></mat-icon>
    </button>
  </div>

  <div id="tagsList">
    <div *ngFor="let tag of addedTags" class="tag">
      {{ tag.tagName }}
    </div>
  </div>
</div>

<div mat-dialog-actions id="dialogActions">
  <button
    mat-flat-button
    style="color: pink; font-size: larger; background-color: rgb(255, 249, 253)"
    (click)="addTask()"
  >
    <b>Create</b>
  </button>
  <button
    mat-flat-button
    style="background-color: rgb(255, 249, 253)"
    (click)="onNoClick()"
  >
    No Thanks
  </button>
</div>
