#dialog {
  width: 30vw;
}

.inputText {
  width: 27vw;
}

#inputUser {
  width: 21vw;
}

#btnAddUser {
  margin-left: 1.75vw;
  color: white;
  background-color: pink;
}

#dialogActions {
  align-items: center;
  justify-content: center;
}
