#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  background-color: pink;
  margin-bottom: 2vh;
  position: fixed;
}

#titreLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoSite {
  width: 3vw;
  height: 3vw;
  margin: 1vh 0.5vw 1vh;
}

#titre {
  font-size: 2vw;
  margin: 1vh 0.5vw 1vh;
}

#user {
  display: flex;
  align-items: center;
  justify-content: center;
}

#username {
  font-size: 1vw;
  margin: 1vh 0.5vw 1vh;
}

#circleIcone {
  width: 3vw;
  background: purple;
  height: 3vw;
  text-align: center;
  border-radius: 3vw;
  line-height: 3vw;
  font-size: 1.5vw;
  color: white;
  margin: 1vh 0.5vw 1vh;
}

#sign {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSign {
  background-color: purple;
}

#placeNavbar {
  height: 5vw;
}
