<div id="navbar" role="banner">
  <div id="titreLogo" (click)="this.router.navigateByUrl('/home')">
    <img id="logoSite" alt="TrèsLow Logo" src="../../assets/logo.png" />
    <strong id="titre">TrèsLow</strong>
  </div>
  <div id="user" *ngIf="user != null">
    <span id="username">{{ user.username }}</span>
    <div id="circleIcone" (click)="logout()">
      {{ user.username.slice(0, 2) }}
    </div>
  </div>
  <div id="sign" *ngIf="user == null">
    <button
      mat-flat-button
      style="background-color: purple; color: white; margin-right: 0.5vw"
      (click)="this.router.navigateByUrl('/sign-in')"
    >
      Sign-In
    </button>
    <button
      mat-flat-button
      style="background-color: purple; color: white; margin-right: 2vw"
      (click)="this.router.navigateByUrl('/sign-up')"
    >
      Sign-Up
    </button>
  </div>
</div>
<div id="placeNavbar"></div>
