<h1>
  <b>Mood</b>
</h1>
<div class="moodPanel">
  <div class="sad" (click)="voteSad()">
    <mat-icon
      class="face"
      svgIcon="face-frown-regular"
      aria-hidden="false"
      aria-label="SVG face-frown-regular"
    ></mat-icon>
    <p>
      <b>{{ countVoteBad }}</b>
    </p>
  </div>
  <div class="meh" (click)="voteMeh()">
    <mat-icon
      class="face"
      svgIcon="face-meh-regular"
      aria-hidden="false"
      aria-label="SVG face-meh-regular"
    ></mat-icon>
    <p>
      <b>{{ countVoteMeh }}</b>
    </p>
  </div>
  <div class="happy" (click)="voteHappy()">
    <mat-icon
      class="face"
      svgIcon="face-smile-regular"
      aria-hidden="false"
      aria-label="SVG face-smile-regular"
    ></mat-icon>
    <p>
      <b>{{ countVoteGood }}</b>
    </p>
  </div>
</div>
