h1 {
  text-align: center;
  font-size: xx-large;
}

.moodPanel {
  display: flex;
  justify-content: center;
}

.moodPanel>* {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.face {
  width: 10vw;
  height: 10vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.moodPanel>*>p {
  font-size: x-large;
}

.sad {
  color: rgb(243, 17, 17);
}

.happy {
  color: rgb(17, 160, 72);
}
