h1 {
  text-align: center;
  font-size: xx-large;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
}

#myBoards {
  border-radius: 10px;
  background-color: pink;
  height: fit-content;
  width: 95vw;
  padding: 1vw;
  display: flex;
  flex-wrap: wrap;
}

.board {
  width: 19.75vw;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  padding: 1vw;
  margin: 3vh 1vw 3vh 1vw;
  text-align: center;
}

#usersList {
  display: flex;
  flex-wrap: wrap;
}

.circleIcone {
  width: 2vw;
  background: purple;
  height: 2vw;
  text-align: center;
  border-radius: 2vw;
  line-height: 2vw;
  font-size: 1vw;
  color: white;
  margin: 0.5vh 0.25vw 0.5vh 0.25vw;
}

#addBoard {
  color: white;
  background-color: purple;
  position: absolute;
  right: 2vw;
  bottom: 3vh;
}
