<h1><b>My Boards</b></h1>
<div id="home">
  <div id="myBoards">
    <div *ngFor="let board of boards" class="board" (click)="onBoard(board)">
      <h2>{{ board.boardName }}</h2>
      <div id="usersList">
        <div *ngFor="let userRole of board.userRoles" class="circleIcone">
          {{ userRole.userDTO.username.slice(0, 2) }}
        </div>
      </div>
    </div>
    <button id="addBoard" mat-fab (click)="openDialog()">
      <mat-icon
        svgIcon="square-plus-solid"
        aria-hidden="false"
        aria-label="SVG square-plus-solid"
      ></mat-icon>
    </button>
  </div>
</div>
