<h1 mat-dialog-title>Create a new list</h1>
<div mat-dialog-content id="dialog">
  <p>Name your list</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="listName" />
    <mat-error *ngIf="listName.invalid">A list name is required.</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions id="dialogActions">
  <button
    mat-flat-button
    style="color: pink; font-size: larger; background-color: rgb(255, 249, 253)"
    (click)="addList()"
    (disable)="listName.invalid"
  >
    <b>Create</b>
  </button>
  <button
    mat-flat-button
    style="background-color: rgb(255, 249, 253)"
    (click)="onNoClick()"
  >
    No Thanks
  </button>
</div>
