<div class="list">
  <h2>
    <b>{{ list.listName }}</b>
  </h2>
  <div class="tasks" *ngFor="let task of list.tasks">
    <app-task [task]="task"></app-task>
  </div>
  <button id="addTask" mat-fab (click)="openDialog()">
    <mat-icon
      svgIcon="square-plus-solid"
      aria-hidden="false"
      aria-label="SVG square-plus-solid"
    ></mat-icon>
  </button>
</div>
