.list {
  margin: 1vw;
  background-color: pink;
  width: 20vw;
  padding: 1vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}

#addTask {
  color: white;
  background-color: purple;
}
