.task {
  background-color: white;
  margin: 0vw 1vw 1vw 1vw;
  padding: 1vw;
  border-radius: 10px;
}

.number {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 1vh;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag {
  margin: 0.25vw;
  background-color: purple;
  padding: 0.5vw;
  border-radius: 10px;
  color: white;
}

.priority {
  margin-left: 0.35vw;
}
