<div class="task">
  <h3>
    <b>{{ task.taskName }}</b>
  </h3>
  <div class="tags">
    <div class="tag" *ngFor="let tag of task.tags">
      <span>{{ tag.tagName }}</span>
    </div>
  </div>
  <div class="number">
    <div class="UserStoryPoint">
      <mat-icon
        svgIcon="poker"
        aria-hidden="false"
        aria-label="SVG poker"
      ></mat-icon>
      <span>{{ task.storypoint }}</span>
    </div>
    <div class="priority">
      <mat-icon
        svgIcon="high-priority"
        aria-hidden="false"
        aria-label="SVG high-priority"
      ></mat-icon>
      <span>{{ task.priority }}</span>
    </div>
  </div>
</div>
