#signUp {
  margin-top: 2vw;
  padding: 2vw 2vw 0 2vw;
  border-radius: 10px;
  background-color: pink;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: xx-large;
  color: white;
}

#form {
  display: flex;
  flex-direction: column;
}

#divider {
  margin-bottom: 3vh;
}

.button {
  margin-bottom: 3vh;
  height: 6vh;
}

#btnLogin {
  margin-bottom: 3vh;
  height: 6vh;
  background-color: purple;
  color: white;
}

#btnRegister {
  margin-bottom: 3vh;
  height: 6vh;
  color: white;
}

#btnGoogle {
  margin-bottom: 3vh;
  height: 6vh;
  background-color: rgb(97, 95, 95);
  color: white;
}
