.addUser {
  display: flex;
  justify-content: space-between;
}

.inputText {
  width: 27vw;
}

#inputUser {
  width: 21vw;
}

#btnAddUser {
  margin-left: 1.75vw;
  color: white;
  background-color: pink;
}

#dialogActions {
  align-items: center;
  justify-content: center;
}

.UserLine {
  display: flex;
}

#btnDelUser {
  margin-left: 1.75vw;
  color: white;
  background-color: pink;
}
