<h1 mat-dialog-title>Create a new board</h1>
<div mat-dialog-content>
  <p>Name your board</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="boardName" />
    <mat-error *ngIf="boardName.invalid">A board name is required.</mat-error>
  </mat-form-field>
  <p>Choose a background for your board</p>
  <mat-form-field class="inputText">
    <input matInput [formControl]="background" />
    <mat-error *ngIf="background.invalid">A background is required.</mat-error>
  </mat-form-field>
  <p>Add user to your board</p>
  <div class="addUser">
    <mat-form-field id="inputUser" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        [formControl]="userSearch"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredUsers | async"
          [value]="option"
        >
          {{option.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>rôle</mat-label>
      <mat-select [formControl]="roleSelection">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{string[role.name]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button id="btnAddUser" mat-fab (click)="addUserRole()">
      <mat-icon
        svgIcon="square-plus-solid"
        aria-hidden="false"
        aria-label="SVG square-plus-solid"
      ></mat-icon>
    </button>
  </div>
  <div id="usersList">
    <p>Users added :</p>
    <div
      *ngFor="let userRole of addedUserRoles; let i = index"
      class="UserLine"
    >
      <div class="userAdded">
        <p>{{ userRole.userDTO.username }}</p>
        <mat-form-field appearance="fill">
          <mat-label>rôle</mat-label>
          <mat-select [(value)]="userRole.roleDTO">
            <mat-option
              *ngFor="let role of selectionUserRolesArray[i]"
              [value]="role"
            >
              {{string[role.name]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button id="btnDelUser" mat-fab (click)="deleteUserRoleByIndex(i)">
        <mat-icon
          svgIcon="trash-solid"
          aria-hidden="false"
          aria-label="SVG trash-solid"
        ></mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-actions id="dialogActions">
  <button
    mat-flat-button
    style="color: pink; font-size: larger; background-color: rgb(255, 249, 253)"
    (click)="addBoard()"
  >
    <b>Create</b>
  </button>
  <button
    mat-flat-button
    style="background-color: rgb(255, 249, 253)"
    (click)="onNoClick()"
  >
    No Thanks
  </button>
</div>
