<app-navbar> </app-navbar>
<button id="info" mat-fab (click)="this.router.navigateByUrl('/mood-api')">
  <mat-icon
    svgIcon="info-solid"
    aria-hidden="false"
    aria-label="SVG info-solid"
  ></mat-icon>
</button>
<router-outlet></router-outlet>
