<div *ngIf="board != null">
  <h1>
    <b>{{ board.boardName }}</b>
  </h1>
  <div id="lists">
    <div *ngFor="let list of board.lists">
      <app-list [list]="list"></app-list>
    </div>
    <button id="addList" mat-fab (click)="openAddListDialog()">
      <mat-icon
        svgIcon="square-plus-solid"
        aria-hidden="false"
        aria-label="SVG square-plus-solid"
      ></mat-icon>
    </button>
    <button class="addSprint" mat-fab (click)="openAddSprintDialog()">
      <mat-icon
        svgIcon="square-plus-solid"
        aria-hidden="false"
        aria-label="SVG square-plus-solid"
      ></mat-icon>
    </button>
  </div>
</div>
