h1 {
  text-align: center;
  font-size: xx-large;
}

#lists {
  margin: 1vw;
  display: flex;
}

#addList {
  color: white;
  background-color: purple;
}

.addSprint {
  color: white;
  background-color: purple;
  position: absolute;
  right: 2vw;
  bottom: 3vh;
}
