<div id="signIn">
  <h1><b>Sign In</b></h1>
  <form id="form">
    <mat-form-field id="form">
      <mat-label>Enter your username</mat-label>
      <input
        type="text"
        matInput
        [formControl]="usernameFormControl"
        placeholder="Ex. JohnDoe42"
      />
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [formControl]="passwordFormControl"
        placeholder="Ex. Password!#42"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-flat-button id="btnLogin" (click)="onLogin()">Login</button>
    <mat-divider id="divider"></mat-divider>
    <button
      mat-stroked-button
      id="btnRegister"
      (click)="this.router.navigateByUrl('/sign-up')"
    >
      Register
    </button>
    <button mat-button id="btnGoogle">Continue with Google</button>
  </form>
</div>
