<h1 mat-dialog-title>Validate prediction for story points</h1>
<div mat-dialog-content id="dialog">
  <p>Our AI thinks this user story costs {{data.prediction}}</p>
</div>
<div mat-dialog-actions id="dialogActions">
  <button
    mat-flat-button
    style="color: pink; font-size: larger; background-color: rgb(255, 249, 253)"
    (click)="acceptPrediction()"
  >
    <b>Accept</b>
  </button>
  <button
    mat-flat-button
    style="background-color: rgb(255, 249, 253)"
    (click)="rejectPrediction()"
  >
    No Thanks
  </button>
</div>
